<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
    <string>H8292UE6ZY</string>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>enterprise</string>
</dict>
</plist>
